<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/styles.css">
  <title>About</title>
</head>
<body>

  <section id="about">
        
    <h2>Barack Obama</h2>
    <p>He was the first African-American president of the United States. 
      He became my favorite person because of his works and his personalities. 
      Not much of political type but more a political-casual type of person. But not only for his character he is beloved by many people.
      He can points as my favorite as a family figure.
      Interesting facts that he attended local Indonesian school from age six to ten.<br><br>
      <a href="home.html">Home</a>
    </p>

</body>
</html>